---
image: jdubz/ci-docker-ansible:19.03

services:
  - docker:19.03.1-dind

variables:
  BASH_ENV: /root/.bashrc

molecule:
  stage: test
  cache:
    paths:
      - .tox
  before_script:
    - pip install tox tox-pyenv
    - pyenv local 2.7.18 3.6.11 3.7.7 3.8.3
    - tox --version
  script:
    - tox
